body {
  background: url("images/bg.jpg") rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
}
.navbar-brand {
  color: #fecc02;
}
.logo-dish {
  color: #006aa7;
}
.nav-link {
  position: relative;
}
.nav-link::before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #fecc02;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}
.nav-link:hover::before {
  width: 100%;
  visibility: visible;
}
.nav-link:active{
    background-color: #006aa7;
}
/* .nav-link::after {
  content: " ";
  opacity: 0;
  transition: all 0.2s;
  height: 2px;
  width: 100%;
  background-color: #fecc02;
  position: absolute;
  bottom: 0;
  left: 0;
}
.nav-link:hover::after {
  opacity: 1;
} */

.hidden {
  display: none;
}
    
@media (max-width: 991px) {
  .sidebar {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
  }
}
